<section class="main-container">
  <app-move-slider></app-move-slider>
  <app-card-show-case title="Trending Now" width="90" [cardsData]="trendingNow" [cardLoader]="trendingNowLoader"></app-card-show-case>
  <app-card-show-case title="Popular Movie" width="90" [cardsData]="popularMovie" [cardLoader]="popularMovieLoader"></app-card-show-case>
  <app-card-show-case  title="Popular Tv-Show" width="90" [cardsData]="popularTv" [cardLoader]="popularTvLoader"></app-card-show-case>
  <br>
</section>
<app-footer></app-footer>
