.c-s-c-container{
  display: flex;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 40px;
}
.c-s-c-wrapper{
  width: 100%;

}
.c-s-c-title{
  color: #F6F6F6;
  font-size: 1.5rem;
  font-weight: 600;
  padding-bottom: max(3vh,10px);
}
.c-c-c-card-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(190px,1fr));
  grid-gap: 10px;
  justify-content: space-between;

}
.loadCard{
  aspect-ratio: 2/3.2;
  max-width: 230px;
  background-color: #1b1d21;
  border-radius: 12px;
  overflow: hidden;
}
.loadCard-shine{
  width: 1000px;
  background: linear-gradient(to bottom, rgb(27, 29, 33) 0%, rgb(32, 34, 38) 50%, rgb(27, 29, 33) 100%);;
  height: 60px;
  transform: rotate(-42deg);
  position: relative;
  bottom: 200px;
  right: 240px;
}

.loading_card{
  aspect-ratio: 2/3.2;
  max-width: 230px;
  background-color: #727272;
  background: linear-gradient(
    110deg,
    rgba(255, 255, 255, 0) 40%,
    rgba(38, 47, 55, 0.47) 50%,
    rgba(255, 255, 255, 0) 60%
  ) #1b1d21;
  border-radius: 12px;
  background-size: 200% 100%;
  background-position-x: 180%;
  animation: 1.5s shine linear infinite;
}

@keyframes shine {
  to {
    background-position-x: -20%;
  }
}

app-cards{
  width: 100%;
}
@media (max-width: 480px) {
  .c-c-c-card-container {
    grid-template-columns: repeat(2, minmax(1px, 1fr));
  }
}
