.i-container{
  position: relative;
}
.input{
  width: 100%;
  font-size: clamp(0.86rem,1.2vw,0.93rem);
  padding: 20px 25px;
  background-color: rgba(70, 70, 70, 0.6);
  border-radius: 12px;
  color: #efefef;

}
.input::placeholder {
  color: #c5c5c5;
  opacity: 1;
}
.i-container img{
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1000;
  cursor: pointer;
}
