button{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #EEEEEE;
  font-size: clamp(0.8rem,1.3vw,0.88rem);
  font-weight: 500;
  background-color: rgba(255, 255, 255, 0.06);
  gap: 10px;
  padding: 14px clamp(32px,2.5vw,44px);
  border-radius: 8px;
  backdrop-filter: blur(6px); /* Blur effect */
  transition: 0.2s;
}
button:hover{
  cursor: pointer;
  backdrop-filter: blur(1px); /* Blur effect */
  background-color: rgba(255, 255, 255, 0.17);

  transition: 0.2s;
}
img{
  width: 18px;
  height: 18px;
}
