<div class="v-p-container" [ngStyle]="{'background-image':'url(https://image.tmdb.org/t/p/original' + backdropImg +')'}">
  <div class="gradient-cover"></div>
  <div class="v-p-wrapper" [ngStyle]="{'height': elementHeight + 'px'}">
    <div appPreventMalvertisement>
      <iframe [src]="videoUrl" style="border:none;" allow="autoplay; fullscreen" allowfullscreen #elementRef  ></iframe>
    </div>
    <app-episode-list [ngStyle]="{'height': elementHeight + 'px'}" [(videoUrl)]="videoUrl" [season]="season" [episode]="episode" [selectedValue]="selectedValue" [numberOfSeasons]="numberOfSeasons" [showInfo]="showInfo"  [id]="id"></app-episode-list>
  </div>
</div>
