.temp{
  width: 100%;
  height: 120vh;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  z-index: 140;
  backdrop-filter: blur(8px);
  display: flex;
  justify-content: center;
  overflow: hidden;

}

.btn{
  position: absolute;
  right: 0;
  margin: 3vh 3vw;
}
.s-cover{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 141;
}
.s-container{
  /*width: min(1550px,90%);*/
  width: 90%;
  height: 100%;
  z-index: 142;
  margin-top: 35px;
  overflow: auto;
}
.s-close-container{
  margin-bottom: 10px;
  display: flex;
  justify-content: flex-end;
}
.s-close-container button{
  margin-right: 20px;
  padding: 10px 20px;
  background-color: rgba(88, 89, 96, 0.97);
  color: white;
  border-radius: 20px;
  transition: 0.2s;
}
.s-close-container button:hover {
  background-color: rgba(71, 74, 87, 0.97);
  transition: 0.2s;
}
.s-wrapper{
  background-color: rgba(70, 70, 70, 0.53);
  padding: clamp(16px,3vw,20px) max(20px,2.2%);
  border-radius: 35px;
  display: flex;
  gap: 10px;
}
.s-input{
  width: 100%;
  color: white;
  font-size: clamp(14px,2.4vw,16px);
  background-color: transparent;

}
.s-card-container{
  /*margin: 20px clamp(0%,2vw,40px) ;*/
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
.s-search-card-container{
  width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 400px;
}
app-card-show-case{
  width: 100%;
}
.s-card-container .s-card-history{
  color: white;
  font-weight: 500;
  margin: 25px 0;
  padding-left: clamp(0%,2vw,40px);

}
.s-card-wrapper{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0 clamp(0%,2vw,40px) ;
}
.loader {
  border: 4px solid rgba(243, 243, 243, 0.14);
  border-top: 4px solid #ffffff;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
  margin-top: 60px;
}
app-card-show-case{
  width: 100%;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
