<div  class="temp" >
  <div class="s-container">
<!--    <div class="s-container2">-->
    <div class="s-wrapper">
      <img class="s-input-search-icon" src="assets/Icons/search2.svg" alt="" (click)="fullSearch2(inputField.value)">
      <input class="s-input" #inputField (input)="quickSearch(inputField.value)" (keydown)="fullSearch($event,inputField.value)" placeholder="Search">
      <div class="s-close-container" (click)="toggleSearch()">
        <img class="s-close" alt="" src="assets/Icons/close2.svg" >
      </div>
    </div>
    <div class="s-card-container" *ngIf="!displaySearched">
      <h4 class="s-card-history">History</h4>
      <div class="s-card-wrapper">
        <app-search-card [id]="card.id" [mediaType]="card.mediaType" [title]="card.title" [imageUrl]="card.image" [genre]="card.genre" [rating]="card.rating" *ngFor="let card of cards"  (click)="toggleSearch()"></app-search-card>
      </div>
    </div>
    <div class="s-search-card-container" *ngIf="displaySearched">
      <div class="loader" *ngIf="loading"></div>
      <app-card-show-case *ngIf="!loading" [cardsData]="searchedResult" [showTitle]="false" (click)="toggleSearch()"></app-card-show-case>
    </div>
  </div>
  <div class="s-cover" (click)="toggleSearch()"></div>
</div>
