.temp{
  width: 100%;
  height: 120vh;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  backdrop-filter: blur(8px);
  display: flex;
  justify-content: center;
  overflow: hidden;

}

.btn{
  position: absolute;
  right: 0;
  margin: 3vh 3vw;
}
.s-cover{
  position: absolute;
  width: 100%;
  height: 100%;
}
.s-container{
  /*width: min(1550px,90%);*/
  width: 90%;
  height: 100%;
  z-index: 1420;
  margin-top: 35px;
  overflow: auto;
  scrollbar-width: none;
}
.s-container2{
  margin-bottom: 10px;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  gap: 5px;
  align-items: center;
}
.s-close-container{
  position: absolute;
  right: 0;
  margin-right: max(16px,1.8%);
  cursor: pointer;
  padding: 6px;
  display: flex;
  border-radius: 14px;
  transition: 0.1s;
}
.s-close-container:hover {
  background-color: rgba(255, 255, 255, 0.24);
  transition: 0.1s;
}
.s-close{
  width: 15px;
}

.s-wrapper{
  display: flex;
  gap: 10px;
  position: relative;
  align-items: center;
  width: 100%;
}
.s-input{
  width: 100%;
  color: white;
  font-size: clamp(14px,2.4vw,16px);
  padding: clamp(16px,3vw,20px) max(55px,4.2%);
  background-color: rgba(70, 70, 70, 0.53);
  border-radius: 35px;

}
.s-input-search-icon{
  position: absolute;
  left: 0;
  margin-left: max(20px,2.2%);
  cursor: pointer;
  width: 20px;
}
.s-card-container{
  min-height: 110%;
  display: flex;
  flex-direction: column;
}
.s-search-card-container{
  width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 400px;
}
app-card-show-case{
  width: 100%;
}
.s-card-container .s-card-history{
  color: white;
  font-weight: 500;
  margin: clamp(15px,1vw,25px) 0;
  padding-left: clamp(0%,2vw,40px);
  font-size: clamp(0.94rem,1.3vw,1rem);

}
.s-card-wrapper{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 0 clamp(0%,2vw,40px) ;

}
.loader {
  border: 4px solid rgba(243, 243, 243, 0);
  border-top: 4px solid #ffffff;
  border-bottom: 4px solid #ffffff;
  border-left: 4px solid #ffffff;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
  margin-top: 160px;
}
app-card-show-case{
  width: 100%;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
