<app-add-to-playlist-dialog (stateChange)="onDialogClose()" [state]="state" [name]="title" [rating]="rating" [imagePath]="poster" [contentID]="Number(id)" [contentType]="mediaType"/>

<div class="v-p-container" [ngStyle]="{'background-image':'url(https://image.tmdb.org/t/p/original' + backdropImg +')'}">
    <div class="gradient-cover"></div>

    <div class="v-p-wrapper" >
        <div appPreventMalvertisement class="frame-container">
          <iframe [src]="videoUrl" style="border:none;" allow=" fullscreen muted" allowfullscreen #elementRef ></iframe>
        </div>

       <div class="button-container">
         <app-transparent-button (click)="onDialogOpen()" text="Add Playlist" iconImg="assets/Icons/playlist.svg"></app-transparent-button>
         <app-transparent-button (click)="onInfoDialogOpen()"  text="Information" iconImg="assets/Icons/info.svg"></app-transparent-button>
       </div>

    </div>

</div>
<app-content-info type="movie" [state]="infoState" (stateChange)="onInfoDialogClose()" [title]="title" [genre]="genre" [description]="description" [path]="poster" [date]="date" [rating]="rating" [network]="network"/>
