
img{
  width: 100%;
  scroll-snap-align: start;
  object-fit: cover;
}
.m-r-c-container{
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: top;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.text-wrapper{
  display: flex;
  justify-content: center;
  flex-direction: column;
  /*width: min(90%,1550px);;*/
  width: 90%;

  margin-bottom: 60px;
  z-index: 4;
  gap: 12px;
}
.choice{
  background: rgba(25, 26, 31, 0.65);
  width: fit-content;
  color: white;
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 12px;
}
.text-wrapper h2{
  width: auto;
  color: #F6F6F6;
  font-weight: bold;
  font-size: clamp(1.8rem,2.5vw,2.4rem);
  display: -webkit-box;
  -webkit-line-clamp:1; /* Limit to 3 lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.text-wrapper p {
  color: #B0B0B0;
  font-size: clamp(0.9rem,1vw,1rem);
  font-weight: 500;
  max-width: 650px;
  line-height: 154%;
  display: -webkit-box;
  -webkit-line-clamp:2; /* Limit to 3 lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: opacity 0.2s;
}
.text-wrapper .button-wrapper{
  display: flex;
  gap: 15px;
}

@media (max-width: 700px) {
  .text-wrapper {
    align-items: center;
  }
  .text-wrapper p {
    display: none;
  }
  .text-wrapper h2 {
    text-align: center;
    padding: 0 30px;
  }
  .choice{
    font-size: 10px;
  }
}
